In [2]:
# Set {}  *Turple () **List []

# Day 7

## Level 1

In [31]:
it_companies = {'Facebook', 'Google', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {'19','22', '24', '20', '25', '26'}
B = {'19','22', '20', '25', '26', '24', '25', '24'}
Age = ['22', '19', '24', '25', '26', '24', '25', '24']

#### Q1

In [4]:
print(len(it_companies))

6

#### Q2

In [5]:
it_companies.add('Twitter')
it_companies

{'Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Oracle', 'Twitter'}

#### Q3

In [6]:
it_companies.update(['Whatsapp', 'Tiktok', 'IG'])
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'IG',
 'Oracle',
 'Tiktok',
 'Twitter',
 'Whatsapp'}

#### Q4

In [7]:
it_companies.remove('IG')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Oracle',
 'Tiktok',
 'Twitter',
 'Whatsapp'}

#### Q5

In [8]:
it_companies.discard('Tiktok')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Oracle',
 'Twitter',
 'Whatsapp'}

## Level 2

#### Q1

In [16]:
AB = A.union(B)
print(AB)

{'26', '19', '24', '25', '20', '22'}

#### Q2

In [19]:
A.intersection(B)

{'19', '20', '22', '24', '25', '26'}

#### Q3

In [20]:
A.issubset(B)

True

#### Q4

In [22]:
A.isdisjoint(B)

False

#### Q5

In [24]:
print(A.union(B))
print(B.union(A))

{'26', '19', '24', '25', '20', '22'}
{'26', '19', '24', '25', '20', '22'}

#### Q6

In [25]:
A.symmetric_difference(B)

set()

#### Q7

In [26]:
del A
del B

## Level 3

#### Q1

In [33]:
Age_set = set(Age)
Age_set
# The length of list is bigger than the length of set

{'19', '22', '24', '25', '26'}

#### Q2

In [ ]:
# Tuples are defined with normal brackets () and once declared they cant be changed while 
# List are defined with square brackets [] and they are like arrays plus they can include stings or integers and mutable also
# String is a sequence of characters. they are declared using double quotes. Strings are immutable
# Set are declared using coily brackets {} and they are immutable also once declared

#### Q3

In [37]:
sentence = 'I am a teacher and I love to inspire and teach people'
splitt = sentence.split(' ')
print (splitt)
splitt = set(splitt)
print(len(splitt))

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
10